
*{
    box-sizing: border-box;
    font-family:'Noto Sans TC', sans-serif ;
}
/* footer{
    margin: 0 auto;
    width:1200px;
} */
div.footer_content{
    /* border:2px solid blue; */
    background-color: rgba(240, 207,101,0.3);
    box-shadow:0px 0px 2px 0px rgba(240, 207,101,0.5) inset;
    height:200px;
    width: 1200px;
    max-width:100%;
    margin:auto;
    
}
div.footer_content{
    display: grid ;
    grid-template-columns: 70px 70px 70px 190px 270px 400px;
    grid-template-rows: auto;
    grid-template-areas: 'first first_1 first_2 second third fourth';
    padding: 10px;
    gap: 15px;
    align-items: center;
}
.grid_item1{
    grid-area: first;
    width:70px;
    height: 70px;
}
.grid_item2{
    grid-area: first_1;
    width:70px;
    height: 70px;
}
.grid_item3{
    grid-area: first_2;
    width:70px;
    height: 70px;
}
.grid_item4{
    grid-area: second;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}
.grid_item5{
    grid-area: third;
    
}    
.grid_item6{
    grid-area: fourth;
    
}
.grid_item5 p.word{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0;
}

.grid_item5>p.time{
    font-size: 16px;
    text-align:center;
    margin-top: 0;
}
.grid_item6 p.service{
    font-size: 32px;
    font-weight: bolder;
    text-align:justify;
    margin-bottom: 0;
    margin-top: 50px;
}
.grid_item6 p.secret{
    font-size: 10px;
    opacity: 60%;
    /* font-weight: bolder; */
    text-align:justify;
    margin-top: 0;
}