*{
    box-sizing: border-box;
    font-family: "微軟正黑體", "BiauKai", "helvetica";
}
img{
    max-width: 100%;
}
body{
    margin: 0 auto;
    
}
h1{
    font-size: 48px;
    text-align: center;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 32px;
}
p{
    font-size: 28px;
    text-align: center;
}
main{
    width:1200px;
    margin: 0 auto;
}
nav{
    height: 80px;
    margin: 0 auto;
}

header{ 
    height: 180px;
    width: 100%;    
}
footer{
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    height:100px;
    max-width: 1140px;
    margin: 0 auto;
}
nav a{
    color: inherit;
    text-decoration: none;
    font-size: 32px;
    display: block;
    font-weight: bold;
    /* width: 180px; */
}
nav a:hover{
    /* background-color: rgb(115, 115, 115); */
    color:#d7816a;
}
nav > ul{
    list-style: none;
    margin: 0;
    padding:0;
}
ul.menu-list{
    display: flex;
    /* justify-content:space-between; */
    justify-content: center;
    /* justify-content: space-evenly; */
    width: 1200px;
    justify-content: space-evenly;
    text-align: center;
    line-height: 80px;
}
ul.menu-list>li{
    width: 200px;
    height: 60px;
    list-style: none;   
}

li.nav_1,li.nav_2,li.nav_3,li.nav_4,li.nav_5,li.nav_6 {
    align-self: center;
}
.banner{
    height: 800px;
    width: 100%;
    /* margin-top: 40px; */
    position:relative;
    background-image: url(./image/page1/banner.jpg);
    box-shadow:0px 0px 10px rgba(0, 0,0,0.5);
    box-shadow:0px 0px 2px 0px rgba(240, 207,101,0.5) inset;  
    background-position:50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    /* transform:translateY( 30px) ; */
}
.banner img{
    vertical-align: center;
    margin-left:480px;
    /* size:50%; */
    /* max-width: 80%; */
    height: auto;
    margin: 0;
    border: 0;
    position: absolute;
    top: -60px;
    /* left: 480px; */
}
div.guide_section{
    display: flex;
    height:400px;
    /* flex-direction: column; */
}
div.guide_1{
    display: flex;
    height: 400px;
    padding: 20px;
    flex-direction:row-reverse;
}

div.guide_2{
    display: flex;
    height: 400px;
    padding: 20px;
    align-items:cent;
}
div.guide_3{
    display: flex;
    height: 400px;
    padding: 20px;
    flex-direction:row-reverse;
}
div.guide_4{
    display: flex;
    height: 400px;
    padding: 20px;
}
div.first,.second,.third,.forth{
    padding: 20px;
}
div.img1{
    position: relative;
}
div.img1,div.img1_1{
    padding: 20px;
}
.img1:hover #effect_1{
    transform: scale(1.5);
    /* transition:linear 1s linear 0s; */
    cursor: pointer;
    /* filter:sepia(50%) */
}
div.img2,div.img2_1{
    padding: 20px;
}
.img2:hover #effect_2{
    transform: scale(1.5);
    /* transition:linear 1s linear 0s; */
    cursor: pointer;
    /* filter:sepia(50%) */
}
div.img3,div.img3_1{
    padding: 20px;
}
.img3:hover #effect_3{
    transform: scale(1.5);
    /* transition:linear 1s linear 0s; */
    cursor: pointer;
    /* filter:sepia(50%) */
}
div.img4,div.img4_1{
    padding: 20px;
}
.img4:hover #effect_4{
    transform: scale(1.5);
    /* transition:linear 1s linear 0s; */
    cursor: pointer;
    /* filter:sepia(50%) */
}


div.btn_fixed {
    bottom: 0;
    right: 0;
    /* 這樣的絕對位置較佳 */
    position: fixed;
    background-color: rgba(240, 207,101,1);
    box-shadow:0px 0px 10px rgba(240, 207,101,0.5) inset;
    /* max-width:100%; */
    border:none;
    height: 100px;
    width: 100PX;
    z-index: 20;
    border-radius: 50%;
}
div.btn_fixed img {
    height: 60%;
    width: auto;
    /* transform: translateX(10px); */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

div.spaceblock{
    height:400px;
    background-color: rgba(240, 207,101,0.3); 
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.spaceblock h1.declare{
    text-align: center;
    height:200px;
    /* padding-top: 100px; */
}

div.spaceblock2{
    height:400px;
    background-color: rgba(240, 207,101,0.3); 
    /* margin-top: 100px; */
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
div.spaceblock2 h1.declare{
    text-align: center;
    height:200px;
    /* padding-top: 100px; */
}
div.spaceblock2 .spaceimg2{
    opacity: 0.9;
    /* width: 500px; */
}




div.swiper-container{
    height: 500px; 
    /* margin-bottom: 20px; */
}

div.swiper-slide{
    /* height: 400px; */
    
    /* background-image: url(./image/背景圖/pexels-ann-h-3482443.jpg); */
    background-repeat: no-repeat;
    /* background-size: 1100px 734px; */
    background-position:50% 30%;
    background-color: #DDEDAA;
    opacity: 80%;
    font-family:'Noto Sans TC', sans-serif !important;
     
}

div.swiper-slide p{
    color: white;
    font-family:'Noto Sans TC', sans-serif !important;
    font-size: 2.5rem;
    background-color:#575655 ;
    opacity: 80%;
    width: 1200px;
    left:20px;
}



.map {
    display: block; 
    background-color: rgba(240, 207,101,0.3);
    box-shadow:0px 0px 2px 0px rgba(240, 207,101,0.5) inset;
    height: 300px;
    /* padding-bottom: 75%; */
    margin: 0 auto;
    
    }
.map iframe.map_1 {
    /* position: absolute; */
    /* height: 300px;  */
    object-fit: contain;
    object-position: center;
    /* left: 0; top: 0; */
    
    }





div.footer_content{
    /* border:2px solid blue; */
    background-color: rgba(240, 207,101,0.3);
    box-shadow:0px 0px 2px 0px rgba(240, 207,101,0.5) inset;
    height:200px;
    display: flex;
    justify-content: center;
    /* justify-content:space-between; */
    align-items: center;
    
    /* flex-direction: ; */
    /* width: 1200px; */
    /* max-width:100%; */
    /* display: grid ;
    grid-template-columns: 70px 70px 70px 190px 270px 400px;
    grid-template-rows: auto;
    grid-template-areas: 'first first_1 first_2 second third fourth';
    padding: 10px;
    gap: 15px; */
    /* margin: 0 auto; */
}
div.footer_content div.foot-controller{
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.grid_item1,div.grid_item2,div.grid_item3{
    width: 70px;
    text-align: center;
    /* height: 150px; */
    margin-left: 20px;
    margin-right: 20px;
} 
div.grid_item4,div.grid_item5{
    width:200px;
    height: 150px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
    text-align: center;
}
div.grid_item6{
    width: 400px;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
}


.grid_item1 img{
    /* grid-area: first; */
    /* max-width:20%; */
    object-fit: contain;
    object-position: center;
    /* height: 100%; */
}
.grid_item2 img{
    /* grid-area: first_1; */
    /* max-width:20%; */
    object-fit: contain;
    object-position: center;
}
.grid_item3 img{
    /* grid-area: first_2; */
    /* max-width:20%; */
    object-fit: contain;
    object-position: center;
    
}

.grid_item5 p.word{
    /* font-size: 32px; */
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0;
}

.grid_item5 p.time{
    /* font-size: 16px; */
    text-align:center;
    margin-top: 0;
}
.grid_item6 p.service{
    /* font-size: 32px; */
    font-weight: bolder;
    text-align:justify;
    margin-bottom: 0;
    margin-top: 50px;
}
.grid_item6 p.secret{
    font-size: 10px;
    opacity: 60%;
    /* font-weight: bolder; */
    text-align:justify;
    margin-top: 0;
}


/* div.footer_content .grid_item{
    border: 1px solid blue;
    text-align: center;
    font-size: large;
} */

