

div#container{
    height: 100px; 
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;

}

/* div.top::after{
    content: "";
    display: block;
    border: 16px solid rgb(235, 180, 203);
    border-radius: 50%;
    width: 500px;
    position: absolute;
    left:10px;
    top:70px ;
    z-index: 2;
} */
div.top{
    /* display: flex; */
    height: 100%;
    max-height: 800px;
}
div.question{  
    left: 30px;
    /* max-width: 1920px; */
    width: 100%;
    padding: 20px;
}
div.guide{
    width: 100%;
    height: 100%;
    background-color: rgba(170, 170,170,.1);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 15px;
    flex-direction: column;
}
div.guide h1{
    text-align: center;
}
@media (max-width: 1199px) {
    div.guide h1{
    text-align: justify;
    }
}
div.connect_index-1{
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    height: 100%;
   
    /* margin-top: 30px; */
}
@media (max-width: 1199px) {
    div.connect_index-1{
    flex-wrap: wrap;
    height: 100%;
    }
}

div.connect_index-1 >a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1920px) {
    div.connect_index-1 a{
        height:280px;
        width:280px;
        margin: 10px;
        padding: 10px;
    }
}
@media (min-width: 1200px) {
    div.connect_index-1 a{
        height:250px;
        width:250px;
        z-index: 2;
    }
}
@media (max-width: 1199px) {
    div.connect_index-1 a{
        height:150px;
        width:150px;
    }
}
/* @media (min-width: 796px) {
    div.connect_index-1 a{
        height:150px;
        width:150px;
        margin: 10px;
        padding: 10px;
    }
} */
div.cube{
    max-width: 350px ;
    max-height: 350px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius:50px;
    justify-content: center; 
    align-items: center;
}
div.cube p{
    margin-bottom: 5px;
}
@media (max-width: 799px) {
    div.cube p{
    display: none;
    font-weight: bold;
    }
}
.connect_index-1 a:nth-child(1){
    background-color: rgba(215, 129, 106, .4);
    border-radius:20%;
}
.connect_index-1 a:nth-child(2){
    background-color: rgba(215, 129, 106, .6);
    border-radius:20%;
}
.connect_index-1 a:nth-child(3){
    background-color: rgba(215, 129, 106, .8);
    border-radius:20%;
}
.connect_index-1 a:nth-child(4){
    background-color: rgba(215, 129, 106, 1);
    border-radius:20%;
}

.connect_index-1 a:hover{
    background-color: #93b5c6;
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 50%;
    transition: .05s ease;
}

/* ====以下為測驗連結==== */




div.bottom{
    width: 100%;
    max-width: 1920px;
    margin-top: 15px;
}
div.clickcontent{
    height: 500px;
    width: 100%;
    display: flex;
    margin-bottom:200px;
    margin-top:200px;
}
@media (max-width: 796px) {
    div.clickcontent{
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    
    }
}
@media (max-width: 596px) {
    div.clickcontent{
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom:100px;
    margin-top:100px;
    }
}



div.content_1,div.content_2,div.content_3,div.content_4{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content_1>h2{
    width: 400px;   
}
.content_1>p{
    width: 400px; 
    text-align:justify;  
}
@media (max-width: 799px) {
    .content_1>h2,.content_1>p{
    width: 300px;
    }
}
.content_2>h2{
    width: 400px;   
}
.content_2>p{
    width: 400px; 
    text-align:justify;  
}
@media (max-width: 799px) {
    .content_2>h2,.content_2>p{
    width: 300px;
    }
}
.content_3>h2{
    width: 400px;   
}
.content_3>p{
    width: 400px;
    text-align:justify;   
}
@media (max-width: 799px) {
    .content_3>h2,.content_3>p{
    width: 300px;
    }
}
.content_4>h2{
    width: 400px;   
}
.content_4>p{
    width: 400px;
    text-align:justify;   
}
@media (max-width: 799px) {
    .content_4>h2,.content_4>p{
    width: 300px;
    }
}
.background_img_1{
    background-image: url(./image/page2/1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}
.background_img_2{ 
    background-image:url(./image/page2/2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}
.background_img_3{ 
    background-image:url(./image/page2/3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}
.background_img_4{ 
    background-image:url(./image/page2/4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}
@media (max-width: 799px) {
    .background_img_1,.background_img_2,.background_img_3,.background_img_4{
    height: 250px;
    margin-bottom:15px ;
    margin-top:25px ;
    }
}

/* ===以下是按鈕=== */
div.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#submit_1,#submit_2,#submit_3,#submit_4{
  padding:5px 15px; 
  color: white; 
  border: none;
  cursor:pointer;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #93B5C6;
  width: 100%;
  height: 60px;
  max-width: 200px;
  font-weight: bolder;
  font-size: 2rem;
}
 #submit_1:hover{
  color:#93B5C6;  
  background-color: white;
  transform:scale(1.1);
  transition: .7s ease-in-out;
}
  #submit_2:hover{
    color:#93B5C6;  
    background-color: white;
    transform:scale(1.1);
    transition: .7s ease-in-out;
  }
  #submit_3:hover{
    color:#93B5C6;  
    background-color: white;
    transform:scale(1.1);
    transition: .7s ease-in-out;
  }
  #submit_4:hover{
    color:#93B5C6;  
    background-color: white;
    transform:scale(1.1);
    transition: .7s ease-in-out;
  }



