/* *{
    box-sizing: border-box;
    font-family:'Noto Sans TC', sans-serif !important;
} */
img{
    max-width: 100%;
}

div.aboutus{
    height: 100px; 
    width: 100%;
}
div.aboutus #content{
    height: 100px;    
}

/* div.aboutus #content::after{ */
/* main.top{
    height: 100%;
    max-height: 600px;
} */



div.mainbox{
    height: 100%;
    width: 100%;
    max-width: 1920px;  
}
/* @media (max-width: 376px) {
    div.mainbox{
    display: flex;
    }
} */
div.layer_1{
    height: 555px;
    background-color: rgba(215, 142, 106, 0.5);
    background-image: url(./image/page1/finacil6.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 40%;
    z-index: 1;
}

@media (max-width: 796px) {
    div.layer_1{
    background-image:none;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
}
@media (max-width: 796px) {
    div.layer_1 {
        display: none;      
    }
}

div.introduce{
    display: flex;
    flex-wrap: wrap; 
    width: 100%; 
}

div.attachment{
    height: 400px;
    max-width:796px;
    width: 100%;
    background-color: rgba(240, 207,101,0.3);
    background-image: url(./image/main-content/health8.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% 80%;
    top: -25px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
/* @media (max-width: 1199px) {
    div.attachment{
       display: none;      
    }
} */
div.layer_2{
    height: 100%;
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1;
}
@media (max-width: 1199px) {
    div.layer_2{
        padding: 50px;
        background-color: rgba(240, 207,101,0.3);
        height: 100%;
        width: 100%;
    }
}

p#introduce{
    font-size: 24px;
    /* font-weight: bold; */
    width: 600px;
    text-align: start;
    padding-top: 100px;
}
@media (max-width: 1199px) {
    p#introduce{
        padding: 0;
    }
}
/* ===以下為各類介紹=== */
div.bottombox{
    display: flex;
    height: 400px;
    justify-content: space-around;
    
}
@media (max-width: 796px) {
    div.bottombox{
        flex-wrap: wrap;
        justify-content: stretch;
        height: 100%;
    }
}
div.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
}
div.block:nth-child(1){
    background-color: #bd4f6c;
    
}
div.block:nth-child(2){
    background-color: #ddedaa;
    
}
div.block:nth-child(3){
    background-color: #bd4f6c;
    
}
div.block:nth-child(4){
    background-color: #ddedaa;
    
}
@media (max-width: 376px) {
    .block>h3{
        /* font-size: 20px; */
        -webkit-writing-mode: vertical-lr;
    }
}