/* *{
    box-sizing: border-box;
    font-family:'Noto Sans TC', sans-serif !important;
} */
img{
    width: 100%;
}
div.top{
    /* display: flex; */
    height: 100%;
    max-height: 600px;
}
div.aboutus{
    left: 30px;
    /* max-width: 1920px; */
    width: 100%;
    padding: 20px;
}
/* div.aboutus #content{
    height: 150px;    
} */

/* div.aboutus #content::after{ */
/* main.top{
    height: 100%;
    max-height: 600px;
} */



div.mainbox{
    height: 100%;
    width: 100%;
    max-width: 1920px;  
}
/* @media (max-width: 376px) {
    div.mainbox{
    display: flex;
    }
} */
div.layer_1{
    height: 555px;
    background-color: rgba(170, 170,170,.1);
    background-image: url(./image/page1/finacil6.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 40%;
    z-index: 1;
}

@media (max-width: 796px) {
    div.layer_1{
    background-image:none;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
}
@media (max-width: 796px) {
    div.layer_1 {
        display: none;      
    }
}

div.introduce{
    display: flex;
    flex-wrap: wrap; 
    width: 100%; 
}

div.attachment{
    height: 450px;
    max-width:796px;
    width: 100%;
    background-color: rgba(240, 207,101,0.3);
    background-image: url(./image/main-content/health8.jpg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% 80%;
    top: -25px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 10px;
}

@media (max-width: 1199px) {
    div.attachment{
    height: 400px; 
    flex-wrap: wrap;
    }
}
div.attachment >h1{
    margin: 20px;
    
}
@media (max-width: 1199px) {
div.attachment >h1{
    margin: 20px;
    font-size: 32px;
      
    }
}


div.layer_2{
    height: 100%;
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1;
}
@media (max-width: 1199px) {
    div.layer_2{
        padding: 50px;
        background-color: rgba(240, 207,101,0.3);
        height: 100%;
        width: 100%;
    }
}

p#introduce{
    font-size: 24px;
    font-weight: bold;
    width: 600px;
    text-align: start;
    padding: 100px;
}
@media (max-width: 1199px) {
    p#introduce{
        padding: 0;
    }
}
/* ===以下為各類介紹=== */
div.bottombox{
    display: flex;
    height: 400px;
    justify-content: space-around;
    margin-bottom: 100px;
}
@media (max-width: 796px) {
    div.bottombox{
        flex-wrap: wrap;
        justify-content: stretch;
        height: 100%;
        margin-bottom: 150px;
    }
}
div.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
}
div.block h4{
    padding: 15px;
}
div.block:nth-child(1){
    background-color: rgba(170, 170,170,.1);
    
}
div.block:nth-child(2){
    background-color: rgba(240, 207,101,0.3);
    
}
div.block:nth-child(3){
    background-color: rgba(170, 170,170,.1);
    
}
div.block:nth-child(4){
    background-color: rgba(240, 207,101,0.3);
    
}
@media (max-width: 376px) {
    .block>h3{
        /* font-size: 20px; */
        -webkit-writing-mode: vertical-lr;
    }
}