*{
    box-sizing: border-box;
    
} 

h2{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

div.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.flex_1,.flex_2,.flex_3,.flex_4,.flex_5{
    width: 500px;
    height: 700px;
    margin: 40px;
}
div.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.info >p{
    font-size: 28px;
    font-weight: bolder;
    text-align:justify;
}
.icon-view{
    background-image: url(./image/icons/visa_electron.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 24px;
    display: inline-block;
}
div.datee{
    font-size: 32px;
    font-weight: bolder;
    padding: 10px;
}
div.h4{
    color: white;
    background-color: #f0cf65;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bolder;
    padding: 10px;
    text-align:center;
}
/* ===以下是按鈕=== */
button#buy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#buy{
  padding:5px 15px; 
  color: white; 
  border: none;
  cursor:pointer;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #93B5C6;
  width: 100%;
  height: 60px;
  max-width: 200px;
  font-weight: bolder;
  font-size: 2rem;
}
 #buy:hover{
  color:#93B5C6;  
  background-color: white;
  transform:scale(1.1);
  transition: .2s ease;

}
  #submit_2:hover{
    color:#93B5C6;  
    background-color: white;
    transform:scale(1.1);
    transition: .7s ease-in-out;
  }
  #submit_3:hover{
    color:#93B5C6;  
    background-color: white;
    transform:scale(1.1);
    transition: .7s ease-in-out;
  }
  #submit_4:hover{
    color:#93B5C6;  
    background-color: white;
    transform:scale(1.1);
    transition: .7s ease-in-out;
  }
  div.info >li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}